.aboutcontainer {
  max-width: 850px;
  margin: 40px auto;
  padding: 25px;
  font-family: "Poppins", sans-serif;
  transition: color 0.3s;
}

body.dark .aboutcontainer {
  color: #eaeaea;
}

.aboutcontainer h1 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 700;
}

.aboutcontainer p {
  letter-spacing: 0.5px;
  font-size: 17px;
  line-height: 1.7;
  margin-top: 18px;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.footer div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.aboutcontainer a {
  text-decoration: none;
  font-size: 17px;
  transition: 0.2s;
}

.aboutcontainer a:hover {
  text-decoration: underline;
}

/* Dark Footer */
body.dark .footer {
  color: #eaeaea;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}